body{
  background-color: #f9f9f9;
}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 90%;
    margin: 4rem;
    margin-top: 2rem;
    margin-bottom: 20px;
  }
  
  tbody tr {
    color: #5f5f5f;
    font-weight: 600;
    font-size: 14px;
    display: table-row;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
    line-height: 40px;
    border-radius: 5px;
    height: 80px;
  }
  tbody td {
    background: white;
  }
  tbody>tr>:nth-child(1){
    font-size: 10px;
  }
  // tbody>tr>:nth-child(2){
  //   color:#439B83;
  // }
  tbody>tr>:nth-child(6){
    padding-left: 15px;
  }
  tbody>tr>:nth-child(7){
      color: #000000;
  }
  td:first-child {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
  }
  td:last-child {
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px; 
  }
  
  table th {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-align: left;
    color: #999999;
  }
  b{
      justify-content: center;
      position: flex-end;
      // padding: 1em 5em;
      margin-bottom: 2em;
      margin-left: 10em;
      border: none;
      background-color: #f9f9f9;
    //   color: green;
      font-weight: bold;
      font-size: 16px;
  }
//   span{
//     margin: 0 10px 0 5px;
//     font-weight: bold;
//   }
  button:hover{
    //   font-size: 14px;
    //   background-color: #439B83;
      //  color: #439B83;
      //  cursor: pointer;
    //   border-radius: 50%;
  }
//   .active{
//       background-color: #439B83;
//       color: white;
//       font-size: 14px;
//       border-radius: 50%;
//   }
